<div class="row">
  <div class="col-12 col-sm-6 offset-sm-3">

    <h1 class="h2 text-center">Create an Account</h1>
    <div class="text-center pt-4">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="alert alert-info">
            You must first create an account to view all coaches.
          </div>
          <div class="pt-3 text-left">
            <%= render partial: 'form' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>